@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Macro Minder</h1>
    <p class="lead">Easily track your recipes and their nutritional value - all in one place.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Recipes</h2>
        <p>
            See a list of your recipes.
        </p>
        <p><a class="btn btn-default" href="">Recipes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ingredients</h2>
        <p>Find an ingredient.</p>
        <p><a class="btn btn-default" href="~/Views/Ingredients/Index.cshtml">Ingredients</a></p>
    </div>
</div>